---
layout: workshop
root: .
venue: Computational Research Skills # brief name of host site
address: SoCoBio DTP, University of Southampton, Southampton, SO17 1BJ # street address of home location
country: United-Kingdom    # country (hyphenated if need be, like 'United-Kingdom')
language: en   # language code like 'en' or 'fr'
latlng: # fractional latitude and longitude like 41.7901128,-87.6007318
humandate: Every Thursday from 29 Oct - 17 Dec 2020  # use the format 'Feb 17-18, 2020' (without the quotes)
humantime: 9:30 am - 12:15 pm  # use the format '9:00 am - 4:30 pm' (without the quotes)
startdate: 2020-10-29  # use YYYY-MM-DD format like 2015-01-01
enddate: 2020-12-17    # use YYYY-MM-DD format like 2015-01-02
instructor: ["Steve Crouch", "Pip Grylls", "Aleksandra Nenadic", "John Robinson"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Mario Antonioletti", "Philly Broadbent", "Ania Brown", "James Graham", "Bailey Harrington
", "Simon Hettrick", "Sam Mangham", "John Robinson"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: rsg-info@soton.ac.uk    # contact email address for workshop organizer
eventbrite:
---
<!--
  HEADER
  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<h2>General Information</h2>

<!--
  INTRODUCTION
  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p align="justify">
  The Computational Research Skills training course helps researchers get more done, in less
  time, and with less pain! It teaches the fundamental data and software skills needed for research.
</p>

<p align="justify">
  Delivered online, this hands-on, self-learning workshop will cover basic concepts and tools, including 
  data organisation and management, using the command line, building and designing R programs to analyse,
  manipulate, and visualise data, as well as providing introductions to version control and cloud computing.
</p>

<!--
  AUDIENCE
  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p align="justify">
  <strong>Who:</strong>
  The course is aimed at postgraduate students who are familiar with basic programming concepts (like loops and arrays).
</p>

<!--
  LOCATION
  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  Online! See the <a href = "schedule.html">schedule</a> for details.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS
  Modify the block below if there are any special requirements.
-->

<!--
  CONTACT EMAIL ADDRESS
  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  This workshop is organised by the University of Southampton's <a href='http://rsg.soton.ac.uk/'>Research Software
  Group</a>.
</p>

<p>
  Our team of Research Software Engineers collaborates with University of Southampton researchers to develop the advanced
  software that powers research.

  <ul>
    <li>We offer a full range of software development services, covering many different technologies and all academic
      disciplines.</li>
    <li>We provide <a href="https://rsgsoton.net/training/">Software Carpentry training</a> in software engineering
    practices, for postgraduate students and researchers at any career stage.</li>
    <li>We organise regular Research Software Community events for researchers who develop software.</li>
  </ul>

  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  EVENTBRITE
  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="250px"
  scrolling="auto">
</iframe>
{% endif %}

<h2 margin=0px>What do I need?</h2>
<p align="justify">
  You must have access to a laptop! Before attending the workshop you need to install some useful, free software, as
  described on the <a href = "prerequisites.html">software prerequisites</a> page.
</p>

<p align="justify">
  You must have access to the <a href="https://teams.microsoft.com/l/channel/19%3a68e3a937446d4ac1a2e499f18ffddccd%40thread.tacv2/Data%2520Management%2520Module?groupId=e9cf73f0-713a-4d5e-b62b-4c141212a8b6&tenantId=4a5378f9-29f4-4d3e-be89-669d03ada9d8">SoCoBio group on Teams</a>.
</p>

<p align="justify">
  You are required to abide by the <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  SCHEDULE
  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 margin=0px>Schedule</h2>
<p>
  Lessons take place on Thursdays from 29 October to 17 November 2020. Check the <a href = "schedule.html">schedule</a> for details.
</p>

<!--
<h2 margin=0px>Surveys</h2>
<p>Please be sure to complete these surveys before and after the workshop.</p>
<p><a href="">Pre-workshop Survey</a></p>
<p><a href="">Post-workshop Survey</a></p>
-->

</hr>

<!--
  SETUP
  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.
  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<!--
  ETHERPAD
  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to
      http://etherpad.mozilla.org/YYYY-MM-DD-site
  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<h2 margin=0px>Keep in touch during the workshop with Etherpad</h2>

<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<h2 margin=0px>Register an interest in our course for possible future dates</h2>

<p>
If you're interested in our training, but can't make the date, you can <a href="https://docs.google.com/forms/d/1KW8DTErxhEXUJbtbwUfVw7s6AWwHKFNZNWSsALV2E0A/viewform">sign up to be notified</a> about future events.
</p>
